<!DOCTYPE html>
<html>
    
        <% include partials/head %>
        <div class="wrapper">
            <h1><%= title %></h1>
            <div class="ra-r"></div>
            <body>
              <table class="styled-table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Shopping</th>
                      <th>Education</th>
                      <th>Browsing</th>
                      <th>Social Media</th>
                    </tr>
                </thead>
                <tbody>
                  
                  <tr>
            
                  <td><%= name  %></td>
                  <td><%= shopping %></td>
                  <td><%= education %></td>
                  <td><%= browsing %></td>
                  <td><%= social_media %></td>
            
            
                  </tr>
              
                </tbody>
            </table>

</body>
</div>
</div>
</html>