<!DOCTYPE html>
<html>
    
    <div class="wrapper">
        <h1><%= title %></h1>
        <body>
            <table class="table table-inverse">
    <thead>
      <tr>
        <th>Name</th>
        <th>Shopping</th>
        <th>Education</th>
        <th>Browsing</th>
        <th>Social Media</th>
        <th>Date</th>



      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < usagelist.length; i++) { %>
     <tr>

       <td><%= usagelist[i].name %></td>
       <td><%= usagelist[i].shopping_usage %></td>
       <td><%= usagelist[i].education_usage %></td>
       <td><%= usagelist[i].browsing_usage %></td>
       <td><%= usagelist[i].social_media_usage %></td>
       <td><%= usagelist[i].date %></td>




     </tr>
  <% } %>
    </tbody>

  </table>

</body>
</div>
<% include partials/foot %>

</html>